<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Planet Shop</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/planets' ? 'active' : '' %>" href="/planets">Planets</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Planets Cart</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Planets Orders</a>
            </li>
            <% if (isAuthenticated) { %>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-planet' ? 'active' : '' %>" href="/admin/add-planet">Add Planet
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/planets' ? 'active' : '' %>" href="/admin/planets">Planet Admin
                </a>
            </li>
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">MyLord, login!</a>
            </li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Planet Shop</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/planets' ? 'active' : '' %>" href="/planets">Planets</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Planets Cart</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Planets Orders</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/admin/add-planet' ? 'active' : '' %>" href="/admin/add-planet">Add Planet
            </a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/admin/planets' ? 'active' : '' %>" href="/admin/planets">Planets Admin
            </a>
        </li>
    </ul>
</nav>